* {
    box-sizing: border-box;
}

html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
}

.navitron {
    height: 400px;
}

.c-rounded-btn {
    display: inline-block;
    width: auto;
    padding: 12px;
    border: 1px solid white;

    background-color: #aaa;
    border-radius: 4px;

    font-weight: bold;
}

.c-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 16px;

    color: white;
}

.c-bar__heading {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

    text-align: center;
}
